<section class="d-flex justify-content-center align-items-center  ">
    <div class="container pt-3 ">
        <div class="">
            <h1 class="text-center">Portofolio Component</h1>
            <div class="star mx-auto">
                <i class=" my-3 fa-solid fa-star"></i>
            </div>
        </div>
        <div class="row pb-5 ">
            <div class="col-md-4 g-5">
                <div class="layer-container ">
                    <img src="assets/ocr.jfif" class="w-100 rounded-3" alt="">
                    <div class="layer rounded-3  justify-content-center align-items-center">
                        <i class="fa-solid fa-plus fs-1 text-white"></i>
                    </div>
                </div>
            </div>
            <div class=" col-md-4 g-5">
                <div class="layer-container ">
                    <img src="assets/port2.png" class="w-100 rounded-3" alt="">
                    <div class="layer rounded-3  justify-content-center align-items-center">
                        <i class="fa-solid fa-plus fs-1 text-white"></i>
                    </div>
                </div>
            </div>
            <div class=" col-md-4 g-5">
                <div class="layer-container ">
                    <img src="assets/port3.png" class="w-100 rounded-3" alt="">
                    <div class="layer rounded-3  justify-content-center align-items-center">
                        <i class="fa-solid fa-plus fs-1 text-white"></i>
                    </div>
                </div>
            </div>
            <div class=" col-md-4 g-5">
                <div class="layer-container ">
                    <img src="assets/ocr.jfif" class="w-100 rounded-3" alt="">
                    <div class="layer rounded-3  justify-content-center align-items-center">
                        <i class="fa-solid fa-plus fs-1 text-white"></i>
                    </div>
                </div>
            </div>
            <div class=" col-md-4 g-5">
                <div class="layer-container ">
                    <img src="assets/port2.png" class="w-100 rounded-3" alt="">
                    <div class="layer rounded-3  justify-content-center align-items-center">
                        <i class="fa-solid fa-plus fs-1 text-white"></i>
                    </div>
                </div>
            </div>
            <div class=" col-md-4 gx-5 gy-3">
                <div class="layer-container ">
                    <img src="assets/port3.png" class="w-100 rounded-3" alt="">
                    <div class="layer rounded-3  justify-content-center align-items-center">
                        <i class="fa-solid fa-plus fs-1 text-white"></i>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>
