<section class="d-flex justify-content-center align-items-center">
    <div class="container p-0">
        <div class="row flex-coulmn justify-content-center align-items-center mt-5 ">
            <div class="img mt-5">
                <img src="assets/man_5-512.webp" class="w-25 d-block mx-auto rounded-circle mt-5" alt="">
            </div>
            <div class="text-center mb-3">
                <h1 class="mt-5">Start Framework</h1>

                <div class="star mx-auto">
                    <i class=" my-3 fa-solid fa-star"></i>
                </div>

                <h5 class="mb-5 pb-5">Graphic Artist - Web Designer - Illustrator</h5>
            </div>
        </div>
    </div>
</section>